.checkout-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  .shipping-details{
    max-width: 550px;
    margin: 0 auto;
    border: 1px solid #e93434;
    border-radius: 5px;
  }
  .cart-summary{
    margin-bottom: 20px;
  }
  
  .cart-items {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .cart-total {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .place-order-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .order-confirmation {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .continue-shopping {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }